.box-luar {
  border: 1px solid #000;
  background-color: #1a8cff;
  width: 100%;
  height: 300px;
  padding: 10px 10px;
  margin: 0 auto;
}

/*number inputs*/
input[type="number"] {
  width:50px; height:30px;
  text-align:center;
  margin:3px;
  float:left;
}

/*select and equals elements*/
select, .equals {
  margin:3px;
  float:left;
}

/*output element*/
output {
  display:block;
  border:1px solid #333333;
  border-radius:5px;
  min-width:25px; height:25px;
  margin:3px; padding:2px;
  text-align:center;
  background:#000000;
  color:#ffffff;
  float:left;
}
